:root {
	--heading-color: var(--color-1);
	--text-color: var(--color-2);
	--code-color: var(--color-2);
}

main {
	min-height: 100dvh;
}

.group-box {
	--_radius: 0.5rem;
	--_border: 0.125rem;
	display: flex;
	flex-flow: row nowrap;
	border-radius: var(--_radius);
	padding: var(--_border);

	.box {
		--_radius-box: calc(var(--_radius) - var(--_border));
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:nth-child(1) {
			border-radius: var(--_radius-box) 0 0
				var(--_radius-box);
		}
		&:nth-last-child(1) {
			border-radius: 0 var(--_radius-box) var(--_radius-box)
				0;
		}
	}
}
// .box {
// 	width: 100px;
// 	height: 100px;
// 	background-color: var(--red-light);

// 	&.sm {
// 		width: 50px;
// 		height: 50px;
// 	}
// }

// .content-test {
// 	background-color: #f2f2f2;
// 	width: 1000px;
// 	height: 500px;
// }

// .group-color {
// 	.color {
// 		height: 50px;

// 		&:nth-child(1) {
// 			border-radius: 1rem 0 0 1rem;
// 		}
// 		&:nth-last-child(1) {
// 			border-radius: 0 1rem 1rem 0;
// 		}
// 	}
// }
