$colors: (
	'light': '100',
	'lighten': '200',
	'regular': '300',
	'darken': '400',
	'dark': '500',
);
$bg-text: (
	'primary': '1',
	'secondary': '2',
	'tertiary': '3',
);

// Variables
@mixin generate-var-color($name) {
	--#{$name}-100: hsla(var(--hsl-#{$name}), 90%, 1);
	--#{$name}-200: hsla(var(--hsl-#{$name}), 80%, 1);
	--#{$name}-300: hsla(var(--hsl-#{$name}), 60%, 1);
	--#{$name}-400: hsla(var(--hsl-#{$name}), 40%, 1);
	--#{$name}-500: hsla(var(--hsl-#{$name}), 30%, 1);
}

// Generators
@mixin generate-color-class(
	$color-name,
	$property,
	$hovered: false
) {
	@each $name, $value in $colors {
		@if ($hovered) {
			&-#{$color-name}-#{$name}:hover,
			&-#{$color-name}-#{$value}:hover {
				#{$property}: var(--#{$color-name}-#{$value});
			}
		} @else {
			&-#{$color-name}-#{$name},
			&-#{$color-name}-#{$value} {
				#{$property}: var(--#{$color-name}-#{$value});
			}
		}
	}
}

@mixin generate-bg-text-class-static(
	$prefix,
	$property,
	$variant,
	$hovered: false
) {
	@each $name, $value in $bg-text {
		@if ($hovered) {
			&-#{$variant}-#{$name}:hover,
			&-#{$variant}-#{$value}:hover {
				#{$property}: var(
					--#{$prefix}-#{$variant}-#{$value}
				);
			}
		} @else {
			&-#{$variant}-#{$name},
			&-#{$variant}-#{$value} {
				#{$property}: var(
					--#{$prefix}-#{$variant}-#{$value}
				);
			}
		}
	}
}

@mixin generate-bg-text-class-dynamic(
	$prefix,
	$property,
	$hovered: false
) {
	@each $name, $value in $bg-text {
		@if ($hovered) {
			&-#{$name}:hover,
			&-#{$value}:hover {
				#{$property}: var(--#{$prefix}-#{$value});
			}
		} @else {
			&-#{$name},
			&-#{$value} {
				#{$property}: var(--#{$prefix}-#{$value});
			}
		}
	}
}

// Mount
@mixin mount-bg-text-class-static(
	$prefix,
	$property,
	$hovered: false
) {
	@include generate-bg-text-class-static(
		$prefix,
		$property,
		'light',
		$hovered
	);
	@include generate-bg-text-class-static(
		$prefix,
		$property,
		'dark',
		$hovered
	);
}

@mixin mount-color-class($property, $hovered: false) {
	@include generate-color-class('red', $property, $hovered);
	@include generate-color-class(
		'orange',
		$property,
		$hovered
	);
	@include generate-color-class(
		'yellow',
		$property,
		$hovered
	);
	@include generate-color-class(
		'green',
		$property,
		$hovered
	);
	@include generate-color-class(
		'blue',
		$property,
		$hovered
	);
	@include generate-color-class(
		'purple',
		$property,
		$hovered
	);
}
