@mixin var-bg-main {
	// light theme
	--bg-light-1: hsla(var(--hsl-base), 100%, 1);
	--bg-light-2: hsla(var(--hsl-base), 95%, 1);
	--bg-light-3: hsla(var(--hsl-base), 90%, 1);

	// dark theme
	--bg-dark-1: hsla(var(--hsl-base), 5%, 1);
	--bg-dark-2: hsla(var(--hsl-base), 10%, 1);
	--bg-dark-3: hsla(var(--hsl-base), 15%, 1);
}

@mixin var-color-main {
	// Light theme
	--color-light-1: hsla(var(--hsl-base), 5%, 1);
	--color-light-2: hsla(var(--hsl-base), 40%, 1);
	--color-light-3: hsla(var(--hsl-base), 80%, 1);

	// Dark theme
	--color-dark-1: hsla(var(--hsl-base), 100%, 1);
	--color-dark-2: hsla(var(--hsl-base), 80%, 1);
	--color-dark-3: hsla(var(--hsl-base), 40%, 1);
}

@mixin var-color {
	// Colors
	// Red
	--hsl-red: 5, 80%;
	// Orange
	--hsl-orange: 20, 90%;
	// Yellow
	--hsl-yellow: 45, 100%;
	// Green
	--hsl-green: 135, 60%;
	// Blue
	--hsl-blue: 220, 90%;
	// Purple
	--hsl-purple: 275, 100%;

	@include generate-var-color('red');
	@include generate-var-color('orange');
	@include generate-var-color('yellow');
	@include generate-var-color('green');
	@include generate-var-color('blue');
	@include generate-var-color('purple');
}
